[Unit]
Description=Fetch mail using fdm

[Timer]
# Uncomment to run the service two minutes after booting
OnBootSec=2m
OnUnitActiveSec=3m
Persistent=true

[Install]
WantedBy=timers.target
