[Unit]
Description=Dropbox Daemon

[Service]
ExecStart=/home/rodrigo/.dotfiles/scripts/rclone_music.sh
Restart=always

[Install]
WantedBy=default.target
